/*
Component - NavBar - simple, responsive, generic navigation bar
            using nesting to achieve differential transition speeds
*/
:root { 
    --navbar-zindex-hamburger:3;
    --navbar-zindex:2;
    --navbar-zindex-links:1;
    --dark-text:hsl(0, 0%, 10%);
}
.navbar {
    display:flex;
    flex-direction:column;
    width:100%;
    height:2rem;
    margin-block:1rem;
    padding-block:.5rem;
}

/* top - title and hamburger */
.navbar_topbar {
    position:relative;
    z-index:var(--navbar-zindex);
    display:flex;
    justify-content:space-between;
    width:100%;
    background:white;
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 255, .1);
}
.navbar_title a {text-decoration:none;}


/* 
links - child of NavBar component 
*/
/* preserve initial height in flow / hide NavBar left offscreen */
.navbar_links_wrap_init {
    z-index:var(--navbar-zindex-links);
    display:flex;
    flex-direction:column;
    width:100%;
    /* we use scale to remove hidden links from flow */
    transform:scaleY(.00000002);
    transition:transform 1.65s ease-in-out;
}

/* vertical movement on dropdown */
.navbar_links_wrap {
    width:100%;
    transform:translateY(-15%);
    transition:transform .45s ease-in-out;  
}

/* dropdown links - hidden */
.navbar_links {
    width:100%;
    margin-top:10px;
    opacity:0;
    transition:opacity .5s ease-in-out;
    background:white;
    /* offset-x | offset-y | blur-radius | spread-radius | color */
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 255, .05);
    color:var(--dark-text);
}
.navbar_links ul {
    display:flex;
    flex-direction:column;
    gap:.5rem;
    list-style:none;
    padding:1rem;
}
.navbar_links a {
    text-decoration:none;
}

/* dropdown links - expanded */
.navbar_links_wrap_init.nav_droppeddown{
    transform:scaleY(1);
    transition:transform .0002s ease-in-out;
}
.navbar_links_wrap.nav_droppeddown {
    transform:translateY(-5%);
    transition:transform .5s ease-in-out;
}
.navbar_links.nav_droppeddown {
    opacity:1;
    transition:transform .00001s ease-in-out,opacity .5s ease-in-out; 
}

.navbar_active_link {
    color:white;
}
/*
md/lg NavBar 
*/
@media screen and (min-width: 768px) {
    .navbar {
        flex-direction:row;
        align-items:center;
    }
    .navbar_topbar {
        width:fit-content;
    }
    .navbar_links_wrap_init {
        flex-direction:row;
    }
    .navbar_links_wrap {
        transform:translateY(0%);
    }
    .navbar_links {
        position:static;
        box-shadow: none;
        margin-top:0;
    }
    .navbar_links ul {
        flex-direction:row;
        justify-content:flex-end;
        gap:1rem;
    } 
    .navbar_active_link {
        color:var(--dark-text);
        border-bottom:solid 1px grey;
    }
}

/* 
Component - NavBar Hamburger 
*/
.nav_hamburger {
    position:relative;
    width:21px;
    height:21px;
    margin-inline:1rem;
    cursor:pointer;
    background:black;
    z-index:var(--navbar-zindex-hamburger);
    /* align-self:flex-end; */
}
.nav_hamburger::before,
.nav_hamburger::after {
    content:'';
    position:absolute;
    width:100%;
    height:6px;
    background:white;
}
.nav_hamburger::before {
    top:3px;
}
.nav_hamburger::after {
    top:12px;
} 
.nav_hamburger[data-nav-open="true"] {
    background:lightgrey;
}

/* hide/show utility for nav */
.hide {display:none;}
.show {display:block;}
@media screen and (min-width: 576px) {
    .hide-sm {display:none;}
    .show-sm {display:block;}
}
@media screen and (min-width: 768px) {
    .hide-md {display:none;}
    .show-md {display:block;}
}
@media screen and (min-width: 992px) {
    .hide-lg {display:none;}
    .show-lg {display:block;}
}
@media screen and (min-width: 1400px) {
    .hide-xl {display:none;}
    .show-xl {display:block;}
}

