/*
Component - NavBar - simple, responsive, generic navigation bar
            using nesting to achieve differential transition speeds
*/
:root { 
    --navbar-zindex-hamburger:3;
    --navbar-zindex:2;
    --navbar-zindex-links:1;
    --dark-text:hsl(0, 0%, 10%);
}
.navbar {
    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;

    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;

    width:100%;
    height:2rem;

    margin-top:1rem;
    margin-bottom:1rem;
    padding-top:.5rem;
    padding-bottom:.5rem;
}

/* top - title and hamburger */
.navbar_topbar {

    position:relative;
    z-index:var(--navbar-zindex);

    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;

    -webkit-box-pack:justify;
    -ms-flex-pack:justify;
    justify-content:space-between;

    width:100%;
    background:white;

    -webkit-box-shadow: 0px 1px 1px 0px rgba(0, 0, 255, .1);
    box-shadow: 0px 1px 1px 0px rgba(0, 0, 255, .1);
}
.navbar_title a {
    text-decoration:none;
}


/* 
links - child of NavBar component 
*/

/* preserve initial height in flow / hide NavBar left offscreen */
.navbar_links_wrap_init {

    z-index:var(--navbar-zindex-links);

    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;

    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;

    width:100%;

    /* we use scale to remove hidden links from flow */
    -webkit-transform:scaleY(.00000002);
    -ms-transform:scaleY(.00000002);
    transform:scaleY(.00000002);

    -webkit-transition:-webkit-transform 1.65s ease-in-out;
    transition:-webkit-transform 1.65s ease-in-out;
    -o-transition:transform 1.65s ease-in-out;
    transition:transform 1.65s ease-in-out;
    transition:transform 1.65s ease-in-out, -webkit-transform 1.65s ease-in-out;
}

/* vertical movement on dropdown */
.navbar_links_wrap {

    width:100%;

    -webkit-transform:translateY(-15%);
    -ms-transform:translateY(-15%);
    transform:translateY(-15%);

    -webkit-transition:-webkit-transform .45s ease-in-out;
    transition:-webkit-transform .45s ease-in-out;
    -o-transition:transform .45s ease-in-out;
    transition:transform .45s ease-in-out;
    transition:transform .45s ease-in-out, -webkit-transform .45s ease-in-out;  
}

/* dropdown links - hidden */
.navbar_links {

    width:100%;
    margin-top:10px;
    opacity:0;

    -webkit-transition:opacity .5s ease-in-out;
    -o-transition:opacity .5s ease-in-out;
    transition:opacity .5s ease-in-out;

    background:white;

    /* offset-x | offset-y | blur-radius | spread-radius | color */
    -webkit-box-shadow: 3px 3px 2px 2px rgba(0, 0, 255, .05);
    box-shadow: 3px 3px 2px 2px rgba(0, 0, 255, .05);

    color:var(--dark-text);
}
.navbar_links ul {

    display:-webkit-box;
    display:-ms-flexbox;
    display:flex;
    
    -webkit-box-orient:vertical;
    -webkit-box-direction:normal;
    -ms-flex-direction:column;
    flex-direction:column;

    gap:.5rem;
    list-style:none;
    padding:1rem;

}
.navbar_links a {
    text-decoration:none;
}

/* dropdown links - expanded */
.navbar_links_wrap_init.nav_droppeddown{

    -webkit-transform:scaleY(1);
    -ms-transform:scaleY(1);
    transform:scaleY(1);

    -webkit-transition:-webkit-transform .0002s ease-in-out;
    transition:-webkit-transform .0002s ease-in-out;
    -o-transition:transform .0002s ease-in-out;
    transition:transform .0002s ease-in-out;
    transition:transform .0002s ease-in-out, -webkit-transform .0002s ease-in-out;
}
.navbar_links_wrap.nav_droppeddown {

    -webkit-transform:translateY(-5%);
    -ms-transform:translateY(-5%);
    transform:translateY(-5%);

    -webkit-transition:-webkit-transform .5s ease-in-out;
    transition:-webkit-transform .5s ease-in-out;
    -o-transition:transform .5s ease-in-out;
    transition:transform .5s ease-in-out;
    transition:transform .5s ease-in-out, -webkit-transform .5s ease-in-out;
}
.navbar_links.nav_droppeddown {

    opacity:1;

    -webkit-transition:opacity .5s ease-in-out,-webkit-transform .00001s ease-in-out;
    transition:opacity .5s ease-in-out,-webkit-transform .00001s ease-in-out;
    -o-transition:transform .00001s ease-in-out,opacity .5s ease-in-out;
    transition:transform .00001s ease-in-out,opacity .5s ease-in-out;
    transition:transform .00001s ease-in-out,opacity .5s ease-in-out,-webkit-transform .00001s ease-in-out;  
}

.navbar_active_link {
    color:white;
}
/*
md/lg NavBar 
*/
@media screen and (min-width: 768px) {
    .navbar {
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -ms-flex-direction:row;
        flex-direction:row;

        -webkit-box-align:center;
        -ms-flex-align:center;
        align-items:center;
    }
    .navbar_topbar {
        width:-webkit-fit-content;
        width:-moz-fit-content;
        width:fit-content;
    }
    .navbar_links_wrap_init {
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -ms-flex-direction:row;
        flex-direction:row;
    }
    .navbar_links_wrap {
        -webkit-transform:translateY(0%);
        -ms-transform:translateY(0%);
        transform:translateY(0%);
    }
    .navbar_links {
        position:static;

        -webkit-box-shadow: none;
        box-shadow: none;

        margin-top:0;
    }
    .navbar_links ul {
    
        -webkit-box-orient:horizontal;
        -webkit-box-direction:normal;
        -ms-flex-direction:row;
        flex-direction:row;

        -webkit-box-pack:end;
        -ms-flex-pack:end;
        justify-content:flex-end;

        gap:1rem;
    } 
    .navbar_active_link {
        color:var(--dark-text);
        border-bottom:solid 1px grey;
    }
}

/* 
Component - NavBar Hamburger 
*/
.nav_hamburger {

    position:relative;

    width:21px;
    height:21px;

    margin-left:1rem;
    margin-right:1rem;

    cursor:pointer;
    background:black;
    z-index:var(--navbar-zindex-hamburger);
}
.nav_hamburger::before,
.nav_hamburger::after {
    content:'';
    position:absolute;
    width:100%;
    height:6px;
    background:white;
}
.nav_hamburger::before {
    top:3px;
}
.nav_hamburger::after {
    top:12px;
} 
.nav_hamburger[data-nav-open="true"] {
    background:lightgrey;
}

/* hide/show utility for nav */
.hide {display:none;}
.show {display:block;}
@media screen and (min-width: 576px) {
    .hide-sm {display:none;}
    .show-sm {display:block;}
}
@media screen and (min-width: 768px) {
    .hide-md {display:none;}
    .show-md {display:block;}
}
@media screen and (min-width: 992px) {
    .hide-lg {display:none;}
    .show-lg {display:block;}
}
@media screen and (min-width: 1400px) {
    .hide-xl {display:none;}
    .show-xl {display:block;}
}

